In [1]:
%load_ext sql
%sql mysql+mysqlconnector://root:rama@localhost/sample

In [8]:
%%sql
show tables;

 * mysql+mysqlconnector://root:***@localhost/sample
1 rows affected.

[('spotify_tracks',)]

In [16]:
%%sql
create database spotiby_da;

 * mysql+mysqlconnector://root:***@localhost/sample
(mysql.connector.errors.DatabaseError) 1007 (HY000): Can't create database 'spotiby_da'; database exists
[SQL: create database spotiby_da;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [17]:
%%sql
use spotiby_da;
CREATE TABLE IF NOT EXISTS spotify_tracks (
    id INT AUTO_INCREMENT PRIMARY KEY,
    track_name VARCHAR(255),
    artist VARCHAR(255),
    album VARCHAR(255),
    popularity INT,
    duration_minutes FLOAT
);

 * mysql+mysqlconnector://root:***@localhost/sample
0 rows affected.
0 rows affected.

[]

In [18]:
%%sql
select * from spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/sample
10 rows affected.

[(1, 'Dheema (From "Love Insurance Kompany")', 'Anirudh Ravichander', 'Dheema (From "Love Insurance Kompany")', 69, 3.91837),
 (2, 'Kalyani Vaccha Vacchaa (From "The Family Star")', 'Mangli', 'Kalyani Vaccha Vacchaa (From "The Family Star")', 59, 3.35163),
 (3, 'Paalmanam', 'Govind Vasantha', 'Christy (Original Motion Picture Soundtrack)', 51, 3.84027),
 (4, 'Oh Penne', 'Anirudh Ravichander', 'Vanakkam Chennai (Original Motion Picture Soundtrack)', 68, 4.60667),
 (5, 'Raanjhanaa (From "Raanjhanaa")', 'A.R. Rahman', 'Raanjhanaa (Original Motion Picture Soundtrack)', 77, 4.24422),
 (6, 'Hawayein', 'Pritam', 'Jab Harry Met Sejal (Original Motion Picture Soundtrack)', 76, 4.83332),
 (7, 'Tum Kya Mile - Pritam\' s Version (From "Rocky Aur Rani Kii Prem Kahaani")', 'Pritam', 'Rocky Aur Rani Kii Prem Kahaani', 49, 3.20277),
 (8, 'Thuli Thuli', 'Yuvan Shankar Raja', 'Paiya (Original Motion Picture Soundtrack)', 68, 4.72243),
 (9, 'Unakku Thaan - From "Chithha"', 'Santhosh Narayanan', 'Unakku Thaan (From "Chithha")', 60, 3.60357),
 (10, 'Poi Vazhva', 'Santhosh Narayanan', 'Manithan (Original Motion Picture Soundtrack)', 60, 3.98628)]

In [20]:
%%sql
SELECT track_name, artist, album, popularity
FROM spotify_tracks
ORDER BY popularity DESC
LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost/sample
3 rows affected.

[('Raanjhanaa (From "Raanjhanaa")', 'A.R. Rahman', 'Raanjhanaa (Original Motion Picture Soundtrack)', 77),
 ('Hawayein', 'Pritam', 'Jab Harry Met Sejal (Original Motion Picture Soundtrack)', 76),
 ('Dheema (From "Love Insurance Kompany")', 'Anirudh Ravichander', 'Dheema (From "Love Insurance Kompany")', 69)]

In [21]:
%%sql
SELECT AVG(popularity) AS average_popularity
FROM spotify_tracks;

 * mysql+mysqlconnector://root:***@localhost/sample
1 rows affected.

[(Decimal('63.7000'),)]

In [22]:
%%sql
SELECT track_name, artist, duration_minutes
FROM spotify_tracks
WHERE duration_minutes > 4.0;

 * mysql+mysqlconnector://root:***@localhost/sample
4 rows affected.

[('Oh Penne', 'Anirudh Ravichander', 4.60667),
 ('Raanjhanaa (From "Raanjhanaa")', 'A.R. Rahman', 4.24422),
 ('Hawayein', 'Pritam', 4.83332),
 ('Thuli Thuli', 'Yuvan Shankar Raja', 4.72243)]

In [23]:
%%sql
SELECT 
    CASE 
        WHEN popularity >= 80 THEN 'Very Popular'
        WHEN popularity >= 50 THEN 'Popular'
        ELSE 'Less Popular'
    END AS popularity_range,
    COUNT(*) AS track_count
FROM spotify_tracks
GROUP BY popularity_range;

 * mysql+mysqlconnector://root:***@localhost/sample
2 rows affected.

[('Popular', 9), ('Less Popular', 1)]